---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"11d6eabc7cfe57746f57f35152bfd7ff6fdbd7a0917b26ddba097ff6e0813755"}'
  recorded_at: Sun, 19 Dec 2021 01:01:42 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=50&category=19&difficulty=easy&token=11d6eabc7cfe57746f57f35152bfd7ff6fdbd7a0917b26ddba097ff6e0813755&type=boolean
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":4,"results":[]}'
  recorded_at: Sun, 19 Dec 2021 01:01:43 GMT
recorded_with: VCR 6.0.0
