---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"History","type":"multiple","difficulty":"hard","question":"Which
        naval battle was considered the turning point of the Pacific Ocean Theater
        during World War 2?","correct_answer":"Battle of Midway","incorrect_answers":["Attack
        on Truk Island","Attack on Pearl Harbor","Battle of the Coral Sea"]},{"category":"Celebrities","type":"multiple","difficulty":"easy","question":"Named
        after a character he played in a 1969 film, what is the name of the ski resort
        in Utah that Robert Redford bought in 1968?","correct_answer":"Sundance","incorrect_answers":["Woodward","Turner","Booker"]},{"category":"History","type":"multiple","difficulty":"easy","question":"What
        was Manfred von Richthofen&[...]
