---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Cartoon &
        Animations","type":"multiple","difficulty":"medium","question":"What is Scooby-Doo&#039;s
        real name?","correct_answer":"Scoobert","incorrect_answers":["Scooter","Scrappy","Shooby"]},{"category":"Science
        & Nature","type":"multiple","difficulty":"easy","question":"What name is given
        to all baby marsupials?","correct_answer":"Joey","incorrect_answers":["Calf","Pup","Cub"]},{"category":"Entertainment:
        Television","type":"multiple","difficulty":"medium","question":"Dee from &quot;It&#039;s
        Always Sunny in Philadelphia&quot; has dated all of the following guys EXCEPT","correct_answer":"Matthew
        &quot;Rickety C[...]
