---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Geography","type":"boolean","difficulty":"easy","question":"Greenland
        is covered with grass and Iceland covered with ice.","correct_answer":"False","incorrect_answers":["True"]},{"category":"Science
        & Nature","type":"multiple","difficulty":"medium","question":"What is the
        atomic number of the element Strontium?","correct_answer":"38","incorrect_answers":["73","47","11"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"hard","question":"In Monster
        Hunter Generations, which of these hunter arts are exclusive to the Longsword?","correct_answer":"Unhinged
        Spirit","incorrect_answers":["Shoryugeki","Pr[...]
