---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"d68219e4f272f1db29412f2f60f01d197da991d2c487809dfb270466ccdc365d"}'
  recorded_at: Tue, 26 Apr 2022 16:58:13 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&token=d68219e4f272f1db29412f2f60f01d197da991d2c487809dfb270466ccdc365d&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Science & Nature","type":"multiple","difficulty":"easy","question":"Which
        of these bones is hardest to break?","correct_answer":"Femur","incorrect_answers":["Cranium","Humerus","Tibia"]},{"category":"History","type":"multiple","difficulty":"medium","question":"The
        Battle of the Somme in World War I took place in which country?","correct_answer":"France","incorrect_answers":["Germany","Italy","Austria"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"medium","question":"Which of
        the following is NOT an official game in Nintendo&#039;s Super Smash Bros.
        series?","correct_answer":"Super Smash B[...]
