---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"cf5a90323c7af61667ca281a4a96787c9b5b328e9cd632ec7fac10ac114fd42e"}'
  recorded_at: Fri, 04 Feb 2022 04:50:11 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Japanese
        Anime & Manga","type":"multiple","difficulty":"medium","question":"When was
        the first episode of Soul Eater released?","correct_answer":"2008","incorrect_answers":["2003","2005","2011"]},{"category":"Science:
        Gadgets","type":"boolean","difficulty":"easy","question":"The communication
        protocol NFC stands for Near-Field Control.","correct_answer":"False","incorrect_answers":["True"]},{"category":"Entertainment:
        Music","type":"multiple","difficulty":"easy","question":"What is the stage
        name of English female rapper Mathangi Arulpragasam, who is known for the
        song &quot;Paper Planes&quot;?","correct_answer":"M.I.A.","in[...]
