---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"d593c3aa5cd27adc3c4c45852de1a6b1acdf848126fdb85d7330d0f13deeb011"}'
  recorded_at: Wed, 16 Feb 2022 16:17:14 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Board Games","type":"multiple","difficulty":"easy","question":"Carcassonne
        is based on which French town?","correct_answer":"Carcassonne","incorrect_answers":["Paris","Marseille","Clermont-Ferrand"]},{"category":"Geography","type":"multiple","difficulty":"easy","question":"All
        of the following are classified as Finno-Ugric languages EXCEPT:","correct_answer":"Samoyedic","incorrect_answers":["Hungarian","Finnish","Estonian"]},{"category":"Geography","type":"boolean","difficulty":"medium","question":"The
        Southeast Asian island of Borneo is politically divided among 3 countries.","correct_answer":"True","incorrect_answers":["False"]},{"c[...]
