---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"924bffd61f50f95a7a5c55465a3cf198b7c270e5959c322588b4bc91a6197437"}'
  recorded_at: Tue, 26 Apr 2022 17:00:04 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&token=924bffd61f50f95a7a5c55465a3cf198b7c270e5959c322588b4bc91a6197437&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Vehicles","type":"multiple","difficulty":"easy","question":"Where
        are the cars of the brand &quot;Ferrari&quot; manufactured?","correct_answer":"Italy","incorrect_answers":["Romania","Germany","Russia"]},{"category":"History","type":"boolean","difficulty":"hard","question":"Japan
        was part of the Allied Powers during World War I.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Sports","type":"multiple","difficulty":"hard","question":"With
        which doubles partner did John McEnroe have most success?","correct_answer":"Peter
        Fleming","incorrect_answers":["Mark Woodforde","Michael Stich","Mary Carillo"]},{"category":"Science:
[...]
