---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"0b35901cd6cba3b2cd62b81a4e4621dbab3d9964f7abe0d916506606642efa08"}'
  recorded_at: Tue, 26 Apr 2022 17:00:04 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&token=0b35901cd6cba3b2cd62b81a4e4621dbab3d9964f7abe0d916506606642efa08&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Mythology","type":"multiple","difficulty":"hard","question":"According
        to Algonquian folklore, how does one transform into a Wendigo?","correct_answer":"Participating
        in cannibalism.","incorrect_answers":["Excessive mutilation of animal corpses.","Performing
        a ritual involving murder.","Drinking the blood of many slain animals."]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"medium","question":"Which character
        is from &quot;Splatoon&quot;?","correct_answer":"Marie","incorrect_answers":["Cyrus","Palutena","Shulk"]},{"category":"Entertainment:
        Japanese Anime & Manga","type":"multiple","difficulty":"hard","question":"Winch
        of these[...]
