---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"23672d0124d11933b7c220bcf89dea743c1b7f7240fc9a29170119cd8d5ceff2"}'
  recorded_at: Tue, 26 Apr 2022 16:58:52 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&token=23672d0124d11933b7c220bcf89dea743c1b7f7240fc9a29170119cd8d5ceff2&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      upgrade:
      - h2
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Cartoon &
        Animations","type":"boolean","difficulty":"easy","question":"In the &quot;Shrek&quot;
        film franchise, Donkey is played by Eddie Murphy.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Science:
        Computers","type":"multiple","difficulty":"easy","question":"What does GHz
        stand for?","correct_answer":"Gigahertz","incorrect_answers":["Gigahotz","Gigahetz","Gigahatz"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"hard","question":"The Internet
        Meme &quot;All your base are belong to us&quot; is based on the poorly translated
        English Version of which Video Game?","correct_answer":"Zero Wing","i[...]
