---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"d242df20e4081c04bd984862b8c1f32002697a283e4b59bef5ed82c8d16f30ff"}'
  recorded_at: Tue, 28 Dec 2021 20:18:31 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=50&category=19&difficulty=easy&token=d242df20e4081c04bd984862b8c1f32002697a283e4b59bef5ed82c8d16f30ff&type=boolean
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":4,"results":[]}'
  recorded_at: Tue, 28 Dec 2021 20:18:32 GMT
recorded_with: VCR 6.0.0
