---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"fa63bf22859fc02c586acdcd311315279ce21be815d8f30ada05dbdfc870ef4c"}'
  recorded_at: Mon, 17 Jan 2022 23:04:32 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=50&category=19&difficulty=easy&token=fa63bf22859fc02c586acdcd311315279ce21be815d8f30ada05dbdfc870ef4c&type=boolean
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":4,"results":[]}'
  recorded_at: Mon, 17 Jan 2022 23:04:32 GMT
recorded_with: VCR 6.0.0
