---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"22e2ce3520842b405b59a3e294d6702661f81a17ef82656b8d766909b5d635c3"}'
  recorded_at: Mon, 20 Dec 2021 21:44:32 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=50&category=19&difficulty=easy&token=22e2ce3520842b405b59a3e294d6702661f81a17ef82656b8d766909b5d635c3&type=boolean
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":4,"results":[]}'
  recorded_at: Mon, 20 Dec 2021 21:44:32 GMT
recorded_with: VCR 6.0.0
