---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Film","type":"multiple","difficulty":"medium","question":"What
        is the name of James Dean&#039;s character in the 1955 movie &quot;Rebel Without
        a Cause&quot;?","correct_answer":"Jim Stark","incorrect_answers":["Ned Stark","Jim
        Kane","Frank Stark"]},{"category":"Entertainment: Video Games","type":"multiple","difficulty":"easy","question":"In
        what year was the game &quot;Fallout&quot; released?","correct_answer":"1997","incorrect_answers":["1998","1999","1996"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"easy","question":"In what year
        was Hearthstone released?","correct_answer":"2014","incorrect_answers":["2011","2013","2012"]},{"category":"[...]
