---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Film","type":"multiple","difficulty":"easy","question":"Daniel
        Radcliffe became a global star in the film industry due to his performance
        in which film franchise?","correct_answer":"Harry Potter","incorrect_answers":["Ted","Spy
        Kids","Pirates of the Caribbean "]},{"category":"Entertainment: Music","type":"multiple","difficulty":"medium","question":"According
        to a Beatles song, who kept her face in a jar by the door?","correct_answer":"Eleanor
        Rigby","incorrect_answers":["Loretta Martin","Molly Jones","Lady Madonna"]},{"category":"Art","type":"multiple","difficulty":"medium","question":"Which
        artist&rsquo;s studio was known as &#039;The Factory&#039;?","correct_answer":"Andy
 [...]
