---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"9f6fcb02d958533b64fcecdb3799c73f45d574902162c3b88894abf1f46dfcb6"}'
  recorded_at: Fri, 31 Dec 2021 05:18:35 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"multiple","difficulty":"medium","question":"What
        is Solid Snake&#039;s real name?","correct_answer":"David","incorrect_answers":["Solid
        Snake","John","Huey"]},{"category":"History","type":"multiple","difficulty":"hard","question":"What
        year was Canada founded in?","correct_answer":"1867","incorrect_answers":["1798","1859","1668"]},{"category":"Science
        & Nature","type":"multiple","difficulty":"medium","question":"How many officially
        recognized dwarf planets in the solar system are named after Polynesian deities?","correct_answer":"2","incorrect_answers":["0","1","5"]},{"category":"General
 [...]
