---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"4b9b1582f7d8d93d10a081a5ffbd13d7e3f250be88943b87beaa752af269439d"}'
  recorded_at: Mon, 17 Jan 2022 23:04:29 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"boolean","difficulty":"hard","question":"The
        retail disc of Tony Hawk&#039;s Pro Skater 5 only comes with the tutorial.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Geography","type":"multiple","difficulty":"medium","question":"How
        many sovereign states are members of the United Nations?","correct_answer":"195","incorrect_answers":["201","153","178"]},{"category":"Geography","type":"multiple","difficulty":"easy","question":"Which
        country does Austria not border?","correct_answer":"France","incorrect_answers":["Slovenia","Switzerland","Slovakia"]},{"category":"Entertainment:
        Video Games","type":"multiple","diff[...]
