---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"e774142bf74911e42c097f132ca3e0c48745c16285083cac7034ce45e0a05642"}'
  recorded_at: Tue, 28 Dec 2021 20:18:31 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Television","type":"multiple","difficulty":"easy","question":"Who
        is the star of the AMC series Breaking Bad?","correct_answer":"Walter White","incorrect_answers":["Saul
        Goodman","Jesse Pinkman","Skyler White"]},{"category":"Sports","type":"boolean","difficulty":"medium","question":"Soccer
        player Cristiano Ronaldo opened a museum dedicated to himself.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Entertainment:
        Books","type":"multiple","difficulty":"easy","question":"How many Harry Potter
        books are there?","correct_answer":"7","incorrect_answers":["8","5","6"]},{"category":"Entertainment:
        Vide[...]
