---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"549b0af16e36503646adf110b4a7cccb3f13c6fc40a3c50e1ff481f882e95d01"}'
  recorded_at: Mon, 17 Jan 2022 23:04:29 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Board Games","type":"boolean","difficulty":"easy","question":"Snakes
        and Ladders was originally created in India?","correct_answer":"True","incorrect_answers":["False"]},{"category":"Geography","type":"multiple","difficulty":"medium","question":"In
        which English county is Stonehenge?","correct_answer":"Wiltshire","incorrect_answers":["Somerset","Cumbria","Herefordshire"]},{"category":"Geography","type":"multiple","difficulty":"medium","question":"Which
        of the following countries banned the use of personal genetic ancestry tests?","correct_answer":"Germany","incorrect_answers":["Austria","Canada","Sweden"]},{"category":"Entertainment:
 [...]
