---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"ead88e5c0055728b38a5003f830a64f3bc1607e8057c34aa89667d065d9cd385"}'
  recorded_at: Sun, 09 Jan 2022 05:18:50 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Cartoon &
        Animations","type":"multiple","difficulty":"easy","question":"What was the
        name of the sea witch in the 1989 Disney film &quot;The Little Mermaid&quot;?","correct_answer":"Ursula","incorrect_answers":["Madam
        Mim","Maleficent","Lady Tremaine"]},{"category":"Entertainment: Film","type":"boolean","difficulty":"easy","question":"The
        movie &quot;The Nightmare before Christmas&quot; was all done with physical
        objects.","correct_answer":"True","incorrect_answers":["False"]},{"category":"Art","type":"multiple","difficulty":"hard","question":"Albrecht
        D&uuml;rer&#039;s birthplace and place of death were in...","correct_answer":"N&uuml;rnberg","incorrect_answers":["Augs[...]
