---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"47be776fe0c6dded3b25b10a61a05a590279cb8e0411b84d9bea3c75f35795cc"}'
  recorded_at: Fri, 31 Dec 2021 05:17:00 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Music","type":"multiple","difficulty":"medium","question":"What
        genre of EDM is the Dutch DJ, musician, and remixer Armin van Buuren most
        well-known for?","correct_answer":"Trance","incorrect_answers":["House","Drum
        and Bass","Dubstep"]},{"category":"Entertainment: Video Games","type":"multiple","difficulty":"medium","question":"What
        was the first interactive movie video game?","correct_answer":"Astron Belt","incorrect_answers":["Dragon&#039;s
        Lair","Cube Quest","M.A.C.H. 3"]},{"category":"Art","type":"boolean","difficulty":"medium","question":"Pablo
        Picasso is one of the founding fathers of &quot;Cubism.&quot;","correct_answer":"True","incorrect_answers":["Fal[...]
