---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"d05b872c4ebde2c0beee261242931a983fb45a116072e71e84fbc029594a5bc5"}'
  recorded_at: Sun, 09 Jan 2022 05:18:50 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"History","type":"multiple","difficulty":"medium","question":"America&#039;s
        Strategic Defense System during the Cold War was nicknamed after this famous
        movie.","correct_answer":"Star Wars","incorrect_answers":["Jaws","Blade Runner","Alien"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"easy","question":"Blinky, Pinky,
        Inky and Clyde are characters from which classic video game?","correct_answer":"Pac-Man","incorrect_answers":["Gauntlet","Space
        Invaders","Street Fighter"]},{"category":"Science & Nature","type":"boolean","difficulty":"medium","question":"Like
        with the Neanderthals, Homo sapiens sapiens also interbred with the Denisovans.","cor[...]
