---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"7dd4fb7658f679b16b5319c8f733b74adf6ff23c4a5a649ff7313df656c2de63"}'
  recorded_at: Fri, 04 Feb 2022 04:49:31 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"multiple","difficulty":"medium","question":"Who
        was the first jedi that Starkiller had to kill in Star Wars: The Force Unleashed?","correct_answer":"Rahm
        Kota","incorrect_answers":["Ahsoka Tano","Kazdan Paratus","Kento Marek"]},{"category":"Entertainment:
        Television","type":"multiple","difficulty":"easy","question":"Which of these
        characters in &quot;Stranger Things&quot; has the power of Telekinesis?","correct_answer":"Eleven","incorrect_answers":["Mike","Lucas","Karen"]},{"category":"History","type":"multiple","difficulty":"medium","question":"Who
        tutored Alexander the Great?","correct_answer":"Aristotle","incorrect_answers":["Socrates","Plato","[...]
