---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"88351a19caf5c6e7f5ff5ce3097e7fffcb1a28de55dd0579620eb951802af9c1"}'
  recorded_at: Mon, 17 Jan 2022 23:04:30 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"General Knowledge","type":"multiple","difficulty":"easy","question":"What
        is &quot;dabbing&quot;?","correct_answer":"A dance","incorrect_answers":["A
        medical procedure","A sport","A language"]},{"category":"History","type":"multiple","difficulty":"medium","question":"When
        was the United States National Security Agency established?","correct_answer":"November
        4, 1952","incorrect_answers":["July 26, 1908"," July 1, 1973"," November 25,
        2002"]},{"category":"History","type":"multiple","difficulty":"medium","question":"How
        many times was Albert Einstein married in his lifetime?","correct_answer":"Twice",[...]
