---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"51001a461496a4b715c309594f9f7e05de58aee21106626d8db33aec81a6bec7"}'
  recorded_at: Mon, 17 Jan 2022 23:04:28 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"multiple","difficulty":"medium","question":"What
        is the punishment for playing Postal 2 in New Zealand?","correct_answer":"10
        years in prison and a fine of $50,000","incorrect_answers":["Fine of $5,000","Nothing","15
        years in prison and a fine of $10,000"]},{"category":"General Knowledge","type":"multiple","difficulty":"easy","question":"What
        is the first book of the Old Testament?","correct_answer":"Genesis","incorrect_answers":["Exodus","Leviticus","Numbers"]},{"category":"Science:
        Computers","type":"boolean","difficulty":"medium","question":"The very first
        recorded computer &quot;bug&quot; was a moth found inside a Harvard Mark II
        com[...]
