---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"d5923efed0090fb38daa92bfdc84a9e5600fe7047ff69860b0028c48a7036220"}'
  recorded_at: Sun, 09 Jan 2022 05:18:50 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Vehicles","type":"multiple","difficulty":"medium","question":"Which
        of the following passenger jets is the longest?","correct_answer":"Boeing
        747-8","incorrect_answers":["Airbus A350-1000","Airbus A330-200","Boeing 787-10"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"medium","question":"In Terraria,
        which of the following items does the Martian Saucer mini-boss NOT drop?","correct_answer":"Drill
        Containment Unit","incorrect_answers":["Anti-Gravity Hook","Influx Waver","Cosmic
        Car Key"]},{"category":"Entertainment: Video Games","type":"multiple","difficulty":"hard","question":"What
        device allo[...]
