---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"75d5f07e85af43e3ddabb70ad707cb62f596ee5b5a783487de4a2b263dae217d"}'
  recorded_at: Fri, 04 Feb 2022 04:50:10 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"History","type":"multiple","difficulty":"medium","question":"
        What Russian automatic gas-operated assault rifle was developed in the Soviet
        Union in 1947, and is still popularly used today?","correct_answer":"AK-47","incorrect_answers":["RPK","M16","MG
        42"]},{"category":"Entertainment: Music","type":"multiple","difficulty":"medium","question":"Who
        is the primary lyricist for Canadian progressive rock band Rush?","correct_answer":"Neil
        Peart","incorrect_answers":["Geddy Lee","Alex Lifeson","John Rutsey"]},{"category":"Celebrities","type":"multiple","difficulty":"easy","question":"Which
        actress married Michael Douglas in 2000?","correct_answer":"Catherine Zeta-Jones","incorrect_answers":["Ruth
   [...]
