---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"6169af98865c5e4c9e7e33767a611d84d81fe766a5c222f4550ebc380a725f20"}'
  recorded_at: Tue, 28 Dec 2021 20:18:30 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Board Games","type":"multiple","difficulty":"hard","question":"The
        board game &quot;Monopoly&quot; is a variation of what board game?","correct_answer":"The
        Landlord&#039;s Game","incorrect_answers":["Territorial Dispute","Property
        Feud","The Monopolist&#039;s Game"]},{"category":"Entertainment: Music","type":"multiple","difficulty":"easy","question":"Which
        of these songs by Skrillex features Fatman Scoop as a side artist?","correct_answer":"Recess","incorrect_answers":["All
        is Fair in Love and Brostep","Rock N Roll (Will Take You to the Mountain)","Scary
        Monsters and Nice Sprites"]},{"category":"General Knowledge","type":"boolean","difficulty":"medium","ques[...]
