---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"87fe5df113a746f731d86376f2a5fd3b9662a890883dd0bbe6493725f65d0b5f"}'
  recorded_at: Sun, 09 Jan 2022 05:18:50 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"General Knowledge","type":"multiple","difficulty":"medium","question":"According
        to the BBPA, what is the most common pub name in the UK?","correct_answer":"Red
        Lion","incorrect_answers":["Royal Oak","White Hart","King&#039;s Head"]},{"category":"Entertainment:
        Television","type":"multiple","difficulty":"easy","question":"In which British
        seaside town was the BBC sitcom &quot;Fawlty Towers&quot; set?","correct_answer":"Torquay","incorrect_answers":["Blackpool","Bournemouth","Great
        Yarmouth"]},{"category":"Entertainment: Japanese Anime & Manga","type":"multiple","difficulty":"medium","question":"In
        the anime series &quot;Full Metal Alchemist&quot;,[...]
