---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api_token.php?command=request
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"response_message":"Token Generated Successfully!","token":"5aefbb36a22e6a7ec43f3f98c23d29ed51111d317ea82c9647af90ef1642b120"}'
  recorded_at: Fri, 04 Feb 2022 04:50:10 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"multiple","difficulty":"easy","question":"Who
        is the writer of the game &quot;Half-Life&quot;?","correct_answer":"Marc Laidlaw","incorrect_answers":["Gabe
        Newell","Robin Walker","Chet Faliszek"]},{"category":"General Knowledge","type":"multiple","difficulty":"hard","question":"Sciophobia
        is the fear of what?","correct_answer":"Shadows","incorrect_answers":["Eating","Bright
        lights","Transportation"]},{"category":"General Knowledge","type":"boolean","difficulty":"medium","question":"You
        are allowed to sell your soul on eBay.","correct_answer":"False","incorrect_answers":["True"]},{"category":"Entertainment:
   [...]
