---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category&difficulty&game_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"multiple","difficulty":"easy","question":"Who
        created the digital distribution platform Steam?","correct_answer":"Valve","incorrect_answers":["Pixeltail
        Games","Ubisoft","Electronic Arts"]},{"category":"Sports","type":"multiple","difficulty":"medium","question":"What
        cricketing term denotes a batsman being dismissed with a score of zero?","correct_answer":"Duck","incorrect_answers":["Bye","Beamer","Carry"]},{"category":"History","type":"boolean","difficulty":"easy","question":"The
        United States Department of Homeland Security was formed in response to the
        September 11th attacks.","correct_answer":"True[...]
