<div class="flex flex-col grow justify-center text-center">
  <% if game.current_answer.correctly_answered %>
    <p class="text-2xl pb-10">
      Correct!
    </p>
  <% else %>
    <p class="text-2xl pb-10">
      Incorrect! The right answer was:
    </p>
    <p class="text-2xl font-bold text-accent pb-10">
      <%= game.current_question.correct_answer.html_safe %>
    </p>
  <% end %>
  <% if game.may_continue? %>
    <%= button_to 'Next Question',
      continue_game_path(game),
      method: :post,
      class: button_class,
      form_class: "flex flex-col"
    %>
  <% end %>
  <% if game.may_finish? %>
    <%= button_to 'See Results',
      finish_game_path(game),
      method: :post,
      class: button_class,
      form_class: "flex flex-col"
    %>
  <% end %>
</div>
