<div class="flex flex-col grow justify-center text-center">
  <% if !Flipper.enabled? :multiplayer_games %>
    <p class="text-2xl pb-10">
      Ready to go?
    </p>
    <%= tw_button_to 'Ready!',
      start_game_path(game),
      method: :post,
      form_class: "flex flex-col"
    %>
  <% end %>

  <% if Flipper.enabled? :multiplayer_games %>
    <% if game.multiplayer? %>
      <section class="flex flex-col grow justify-center text-center">
        <h1 class="text-accent text-3xl pb-8">Let's Round Up Some Friends</h1>
        <p class="pb-5">Send them a url</p>
        <%= game_invitations_url(game_channel: @game, join_code: @game.encode_hash_id) %>
        <p class="pb-5">Or if you're hanging out in person, try a QR code</p>
        <p class="mx-auto"><%= qr_code(game_invitations_url(game_channel: @game, join_code: @game.encode_hash_id))%></p>
      </div>
    <% else %>
      <p class="text-2xl pb-10">
        Ready to go?
      </p>
      <%= tw_button_to 'Ready!',
        start_game_path(game),
        method: :post,
        form_class: "flex flex-col"
      %>
    <% end %>
  <% end %>
</div>
