<div class="flex flex-col grow justify-center text-center">
  <p class="text-2xl">
    Looking up some great questions...
  </p>
  <div class="flex flex-row justify-center">
    <%= heroicon "book-open", options: { class: "animate-ping w-10 justify-center" } %>
  </div>
  <noscript class="flex flex-col">
    <p class="text-2xl py-10">
      This game is better played with JS enabled.
    </p>
    <%= tw_link_button_to "Check if questions are ready",
      game_path(game),
      method: :get,
      form_class: "flex flex-col"
    %>
  </noscript>
</div>
